html, body {
    height: 100%;
    background-color: #ffffff ;
}

.global-container-login {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #48e248;
}

.login-form {
    width: 380px;
    height: 450px;
    padding: 20px;
    box-shadow: 0 -15px 60px 0 rgba(0,0,0,.08);
    background-color: #f7f5f5 !important;
    border-radius: 10px !important;
}

input[type="username"],
input[type="password"] {
    
    color: #000;
    border: 2px solid #000;
    border-radius: 10px;
    margin-bottom: 25px;
}

input[type="username"]:focus,
input[type="password"]:focus {
    outline: none;
    border: 2px solid #000;
    color: #000;
    margin: 0;
}

.btn {
    color: #fff;
    background-color: #000;
    border: 2px solid #000;
    transform: translateY(10px);
    font-size: 16px;
    border-radius: 10px !important;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.4s;
}

.btn:hover {
    background-color: #00000011;
    color: #000;
    border: 2px solid #000;
    font-size: 16px;
    border-radius: 10px !important;
}

.reg-link {
    color: #000;
    text-decoration: solid;
    font-weight: bold;
}

.reg-link:hover {
    text-decoration: underline;
}

.flash-message {
    padding-top: 12px;
    font-size: small;
    font-weight: bold;
}



