{% extends 'base.html' %} 

{% block content %}

<h1>Add New Card(s)</h1>
<br></br>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary">Daftar</button>
    </form>
</div>

<h1>Add New Card</h1>

<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Add Card"/>
            </td>
        </tr>
    </table>
</form>

{% endblock %}