{% extends 'base.html' %}
{% block meta %}
    <title>Login</title>
{% endblock meta %}
{% block content %}

<div class="global-container">
    <div class="card login-form">
        <div class="card-body">
            <h1 class="card-tittle text-center">L O G I N</h1>
        </div>
            
        <div class="card-text">
            <form method="POST" action="">
                {% csrf_token %}

                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Username</label>
                  <input type="username" name="username" placeholder="Username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" name="password" placeholder="Password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    Don't have an account yet? <a href="{% url 'main:register' %}" class="reg-link">Register Now</a>
                            {% if messages %}
                                <ul>
                                    {% for message in messages %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}   
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary" value="Login">Submit</button>
                </div>
                
            </form>
        </div>
    </div>
</div>

{% endblock content %}